Repository BF-FrontEnd-class/agile-development-group3-all-about-trees, pull requests merged in 2023-05, with the labels that each got.

#9 add constraints
  .cspell.json
  planning/constraints.md
Labels: Planning, constraints

#10 add Project Comminication
  planning/communication.md
Labels: md, Planning, communication

#11 add backlog md file
  planning/backlog.md
Labels: md, Planning, backlog

#12 project user-personas
  package.json
  planning/user-personas.md
Labels: md, Planning, user-personas

#15 Add project definition
  README.md
Labels: md, Planning

#16 Add development strategy
  planning/development-strategy.md
Labels: md, Planning, development strategy

#31 Add navigationLink
  index.html
  styles/something.css
Labels: html, Development, Css

#32 add Social media link
  .cspell.json
  index.html
  styles/something.css
Labels: html, Development, Css

#33 add logo
  index.html
  public/images/happy-tree.jpeg
  styles/something.css
Labels: html, Development, Css

#34 Title
  index.html
  styles/something.css
Labels: html, Development, Css

#36 add main content
  index.html
  public/images/tree.jpg
  public/images/tree1.jpeg
  public/images/tree2.jpeg
  styles/something.css
Labels: html, Development, Css

#38 update project definition
  .cspell.json
  README.md
  public/images/screenshoot.png
Labels: md, Planning

#39 update restrospective.md
  planning/retrospective.md
Labels: md, Planning, retrospective
